*{
    margin: 0;
    padding: 0;
    
}

.bioD{
    width:70%;
    color: #272A31;
    font-family:'DynaPuff', cursive; 
    text-align:center;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
.bioD h1{
    font-size: 44px;
}
.bioD h3{
    color: #e4ac7d;
    padding-bottom: 30px;
}
.us{

    flex-basis: 32%;
    border-radius: 10px;
    width: 450px;
    height: 500px;
    align-self: left;
    margin-bottom:10px;
    position: relative;
    overflow:hidden;
}
.us img{
    width:100%;
    display:block;
    height:380px;
}
info{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.layer{
    background:transparent;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: 0.5s;
}
.layer:hover{
    background:#d28c8c;
}

.layer h4{
    position: absolute;
    opacity: 0;
    transform: translateX(-50%);
    bottom: 0;
    left: 50%;
    transition: 0.5s;
    width: 100%;
    color: #fff;
}

.layer:hover h4{
    bottom: 49%;
    opacity:1;
}